*{

    background-color: rgb(184, 225, 248);
}
.mainCompClass{
    height: 100%;
}

.menu{
    list-style-type: none;
}
.CompButton{
    color: white;
    background-color: black;
    border-radius: 25px;   
}
.CompButton:hover{
    background-color: purple; 
}
